* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    user-select: none;
    color: white;
}

h1 {
    font-size: 1.4rem;
    font-weight: 900;
    text-align: center;
}

.App {
    padding: 10px;
    padding-top: 80px;
}

button {
    color: black;
}

.active {
    color: yellow;
}

span {
    color: black;
}
